header#main-header {
    background-color: #700070;
    height: 60px;
    width: 100%;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px, 5px, #000000;
    transition: all 0.5s;
}
